extends ../layout

block content
  .page-wrapper
    include ../partials/header
    .container-fluid
    .row
      nav.col-md-3.col-lg-2.d-md-block.sidebarr.collapse.mt-3
        .position-sticky
          ul.nav.flex-column
            li.nav-item
              a.nav-link.active(href='/vendor' )
                i.fas.fa-box.me-2
                |                                 Sản phẩm
            li.nav-item
              a.nav-link(href='/vendor/orderlist' )
                i.fas.fa-shopping-cart.me-2
                |                                Đơn hàng
            li.nav-item
              a.nav-link(href='/marketing' )
                i.fas.fa-percentage.me-2
                |                                 Kênh marketing
      main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
        .d-md-none
          button.btn.btn-primary.mb-3(type='button' data-bs-toggle='collapse' data-bs-target='.sidebarr' aria-expanded='false' aria-controls='sidebarr')
            i.fas.fa-bars
            |  Menu
        #v-pills-tabContent.tab-content.border.rounded.p-4.mt-3
          #product-manager.tab-pane.fade.show.active.text-center(role='')
            h2.mb-4.pb-2.border-bottom Sản phẩm cửa hàng
            .d-flex.justify-content-between.align-items-center.mb-3
              button.btn.btn-primary(href='/addProduct.html')
                i.fas.fa-plus.me-2
                | Thêm sản phẩm mới
              .input-group.w-50
                input.form-control(type='text' placeholder='Tìm kiếm sản phẩm...')
                button.btn.btn-outline-secondary(type='button')
                  i.fas.fa-search
            .table-responsive
              table.table.table-striped.table-hover.border.table-bordered
                thead.table-primary
                  tr.text-center
                    th
                      | T&ecirc;n s&#x1EA3;n ph&#x1EA9;m 
                      i.fas.fa-sort
                    th
                      | Gi&aacute; 
                      i.fas.fa-sort
                    th
                      | S&#x1ED1; l&#x1B0;&#x1EE3;ng 
                      i.fas.fa-sort
                    th
                      | &Dstrok;&atilde; b&aacute;n 
                      i.fas.fa-sort
                    th H&agrave;nh &dstrok;&#x1ED9;ng
                tbody
                  tr.text-center
                    td S&#x1EA3;n ph&#x1EA9;m A
                    td 100.000&dstrok;
                    td 50
                    td 2
                    td
                      button.btn.btn-info.btn-sm
                        i.fas.fa-edit.me-1
                        | S&#x1EED;a
                      button.btn.btn-danger.btn-sm
                        i.fas.fa-trash.me-1
                        | X&oacute;a
    include ../partials/footer