extends ../layout2

block content
  .page-wrapper
    include ../partials/header
    main.container.my-5
      #layoutSidenav
        #layoutSidenav_nav
          nav#sidenavAccordion.sb-sidenav.accordion.sb-sidenav-dark.border.rounded.shadow-sm(style='font-size: 1.8rem;')
            .sb-sidenav-menu
              .nav
                a.nav-link(href='/profile')
                  .sb-nav-link-icon
                    i.fas.fa-user.fa-fw
                  |                                 Thông tin tài khoản
                a.nav-link(href='/history')
                  .sb-nav-link-icon
                    i.fas.fa-shopping-cart.fa-fw
                  |                                 Đơn hàng
                a.nav-link.active(href='/vendor')
                  .sb-nav-link-icon
                    i.fas.fa-store.fa-fw
                  |                                 Kênh người bán
        #layoutSidenav_content
          main
            .container-fluid.px-4
              .border.p-3.d.shadow-lg.bg-white.rounded
                .border-bottom.pb-3.mb-4.text-center.pt-3.pb-3.pl-2.pr-2
                  h2.text-primary Đăng kí người bán
                form(method="post" action="/vendor")
                  .mb-3
                    label.form-label.fw-bold(for='shopName') Tên cửa hàng: 
                    
                    input#shopName.form-control(type='text' required='' name="fullName" value=`${user.fullName}` placeholder='Nhập tên cửa hàng của bạn' )
                  .mb-3
                    label.form-label.fw-bold(for='shopDescription') Thông tin cửa hàng: 
                    textarea#shopDescription.form-control(rows='1' placeholder='Đang trong quá trình update')
                  .mb-3
                    label.form-label.fw-bold(for='shopAddress') Địa chỉ :
                    - if(user.address)
                        input#shopAddress.form-control(type='text' name="address" value=`${user.address}` required='' placeholder='Nhập địa chỉ cửa hàng')
                    - else
                        input#shopAddress.form-control(type='text' name="address" required='' placeholder='Nhập địa chỉ cửa hàng')
                  .mb-3
                    label.form-label.fw-bold(for='shopPhone') Số điện thoại:
                    input#shopPhone.form-control(type='text' required='' name='numberPhone' value=`${user.numberPhone}` placeholder='' )
                  .mb-3
                    label.form-label.fw-bold(for='shopEmail') Email:
                    input#shopEmail.form-control(type='email' required='' name='email' value=`${user.email}` placeholder='example@email.com' )
                  .mb-3.form-check
                    input#agreeTerms.form-check-input(type='checkbox' required='')
                    label.form-check-label(for='agreeTerms')
                      | Tôi đồng ý với các 
                      a.text-primary(href='#') Điều khoản và điều kiện
                  button.btn.btn-primary.btn-lg(type='submit') Đăng kí

    include ../partials/footer