extends ../layout2

block content
  .page-wrapper
    include ../partials/header
    main
      .my-5
      .container.pd
        #layoutSidenav.rounded-3.overflow-hidden
          #layoutSidenav_nav
            nav#sidenavAccordion.sb-sidenav.accordion.sb-sidenav-dark.border.rounded.shadow-sm(style='font-size: 1.8rem;')
              .sb-sidenav-menu
                .nav
                  a.nav-link.active(href='/profile')
                    .sb-nav-link-icon.active
                      i.fas.fa-user.fa-fw
                    |                                         Thông tin tài khoản
                  a.nav-link(href='/history.html')
                    .sb-nav-link-icon
                      i.fas.fa-shopping-cart.fa-fw
                    |                                         Đơn hàng
                  a.nav-link(href='/vendor')
                    .sb-nav-link-icon
                      i.fas.fa-store.fa-fw
                    |                                         Kênh người bán
          #layoutSidenav_content
            main
              .container-fluid.px-4
                .border.p-4.mb-4.rounded.shadow-lg.bg-white
                  .border-bottom.pb-3.mb-4.text-center
                    h1.h3.mb-1.text-primary Hồ sơ của tôi
                    p.text-muted.mb-0 Quản lí thông tin
                  .row.g-4
                    .col-12
                      .border.rounded-3.p-4.bg-white.shadow-sm
                        form(action=`/user/${user.id}/changePassword?_method=PUT` method="post").row
                          .col-8
                            .mb-4.row.align-items-center
                              label.col-sm-3.col-form-label.fw-bold(for='name') Mật khẩu hiện tại:
                              .col-sm-9
                                    input#name.form-control(type='password' name='password' required='')
                            .mb-4.row.align-items-center
                              label.col-sm-3.col-form-label.fw-bold(for='phone') Mật khẩu mới :
                              .col-sm-9
                                    input#name.form-control(type='password' name='newPassword' required='')
                            .mb-4.row.align-items-center
                              label.col-sm-3.col-form-label.fw-bold(for='email') Nhập lại mật khẩu mới:
                              .col-sm-9
                                    input#name.form-control(type='password' name='c_password' required='')
                          .text-center
                            button.btn.btn-primary.px-4.me-2.rounded-pill(type='submit')
                              i.fas.fa-edit.me-2
                              | Lưu thông tin
                            a.btn.btn-outline-secondary.px-4.rounded-pill(href="")
                              i.fas.fa-key.me-2
                              | Đổi mật khẩu

    include ../partials/footer